run = "kotlinc -d main.jar src/main/kotlin/com/example/studykotlinferronato/StudyKotlinFerronatoApplication.kt && kotlin -classpath main.jar MainKt"

entrypoint = "src/main/kotlin/com/example/studykotlinferronato/StudyKotlinFerronatoApplication.kt"

hidden=["*.jar"]

[nix]
channel = "stable-22_11"

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.kotlin]
pattern = "**/*.{kt,kts,java}"

[languages.kotlin.languageServer]
start = ["kotlin-language-server"]